name: open-api-workflow publish
on:
  workflow_call:
    inputs:
      docker-image-name:
        required: true
        type: string
        description: "Name for the docker image to be build"

      repository-owner:
        required: true
        type: string
        description: |
          'Name of the repository owner. Used when determining wether to publish or not'

    secrets:
      docker-username:
        required: true

      docker-token:
        required: true

jobs:
  publish:
    name: Push Docker image
    runs-on: ubuntu-latest
    if: >
      github.event_name == 'push' &&
      github.repository_owner == inputs.repository-owner &&
      (github.ref_type == 'tag' || github.ref == format('refs/heads/{0}', github.event.repository.default_branch))

    steps:
      - uses: actions/checkout@v4
      - name: Download built image
        uses: actions/download-artifact@v4
        with:
          name: docker-image
          run-id: ${{ github.run_id }}

      - name: Determine tag/commit hash
        id: vars
        uses: maykinmedia/open-api-workflows/actions/extract-version@feature/extract-and-polish-reusable-actions

      - name: Load image
        run: |
          docker image load -i image.tar

      - name: Log into registry
        run: echo "${{ secrets.docker-token }}" | docker login -u ${{ secrets.docker-username }} --password-stdin

      - name: Push the Docker image
        run: docker push ${{ inputs.docker-image-name }}:${{ steps.vars.outputs.version }}

      - name: Push stable tag
        if: >
          startsWith(github.ref, 'refs/tags/') &&
          matches(github.ref, '^refs/tags/v?[0-9]+\\.[0-9]+(\\.[0-9]+)?$')
        run: |
          docker tag ${{ inputs.docker-image-name }}:${{ steps.vars.outputs.version }} \
                    ${{ inputs.docker-image-name }}:stable
          docker push ${{ inputs.docker-image-name }}:stable
